@charset "UTF-8";
/* Fontes */
@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0 auto;
  font-family: var(--font);
}

ul, ol, li {
  list-style: none;
}

:root {
  --font: Arial, Helvetica, sans-serif;
}

/* Colors */
:root {
  --corPrimaria: #0F0F0F;
  --corSecundaria: #0053B3;
  --corTerciaria: #0077FF;
  --corTexto: #EAEBED;
}

p {
  color: var(--corTexto);
}

/* Sessão dos Containers */
.logo i {
  margin-top: 20px;
  color: var(--corSecundaria);
}

.containerGeral {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: var(--corPrimaria);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  z-index: 0;
}

.containerGeral .containerLeft {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  left: -280px;
  top: 0;
  width: 280px;
  height: 100vh;
  background-color: var(--corPrimaria);
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.containerGeral .containerLeft p {
  margin-top: 5px;
  margin-bottom: 10px;
}

.containerGeral .containerLeft .containerLeft::before {
  content: "";
  position: absolute;
  right: -2px;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--corTerciaria);
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  z-index: -1;
}

.containerGeral .containerLeft .containerCor {
  margin-top: 30px;
  padding: 15px;
  width: 200px;
  background-color: var(--corPrimaria);
  border: 2px solid var(--corTerciaria);
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.containerGeral .containerLeft .containerCor i {
  color: var(--corSecundaria);
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.containerGeral .containerLeft .containerCor i:hover {
  color: var(--corTerciaria);
}

.containerGeral .containerLeft .containerCor .colorTextBox {
  width: 70px;
  height: 20px;
  text-align: center;
  border: 2px solid var(--corSecundaria);
  border-radius: 5px;
  color: var(--corTexto);
  background-color: transparent;
  outline: none;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.containerGeral .containerLeft .containerCor .colorTextBox:focus {
  border: 2px solid var(--corTerciaria);
}

.containerGeral .containerLeft .containerCor .colorPick {
  width: 180px;
  height: 30px;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.containerGeral .containerLeft .containerCor .codCor {
  font-size: 12px;
}

.containerGeral .containerLeft .containerCor .setColor {
  color: var(--corSecundaria);
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.containerGeral .containerLeft .containerCor .setColor:hover {
  color: var(--corTerciaria);
}

.containerGeral .containerLeft .copyright {
  padding-top: 30px;
  font-size: 14px;
}

.containerGeral .containerCalc {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 600px;
  height: 360px;
  border-radius: 15px;
  background-color: var(--corPrimaria);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.containerGeral .containerCalc h1 {
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--corSecundaria);
}

.containerGeral .containerCalc form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.containerGeral .containerCalc form .numberField {
  outline: none;
  text-align: center;
  border-radius: 5px;
  border: 1px solid var(--corSecundaria);
  color: var(--corTexto);
  width: 240px;
  height: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: transparent;
}

.containerGeral .containerCalc form .btn {
  background-color: transparent;
  margin-top: 10px;
  margin-bottom: 10px;
  color: var(--corSecundaria);
  border: 1px solid var(--corSecundaria);
  border-radius: 5px;
  padding: 10px 84px;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.containerGeral .containerCalc form .btn:hover {
  background-color: var(--corSecundaria);
  color: #eeeeee;
}

.containerGeral .containerCalc form .resultado {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 240px;
  height: 25px;
  border: 1px solid var(--corSecundaria);
  border-radius: 5px;
  background-color: var(--corPrimaria);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.containerGeral .containerCalc form .resultado p {
  font-size: 13px;
  color: var(--corTexto);
}

.containerGeral .containerCalc::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: 604px;
  height: 364px;
  border-radius: 17px;
  background-color: var(--corTerciaria);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: -1;
}

.containerGeral .configSite {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  color: var(--corSecundaria);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.containerGeral .configSite i {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.containerGeral .configSite i:hover {
  color: var(--corTerciaria);
}

.containerGeral .selectOp {
  width: 110px;
  height: 25px;
  border: 1px solid var(--corSecundaria);
  border-radius: 5px;
  outline: none;
  color: var(--corSecundaria);
  background-color: transparent;
}

/* Input type number remover spin */
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: var(--corPrimaria);
}

::-webkit-scrollbar-thumb {
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--corSecundaria)), to(var(--corTerciaria)));
  background-image: linear-gradient(to bottom, var(--corSecundaria), var(--corTerciaria));
  border-radius: 20px;
}
/*# sourceMappingURL=main.css.map */